body{
    font-family: Verdana, sans-serif;
    background-color:red;
}
p, li > input, button{
    font-size: 15pt;
}
header{
    background-color: #ffffff;
    padding: 2px;
    margin: 2px;
}
header > h2{
    margin-left: 2px;
    font-size: 20pt;
}
nav{
    background-color: #ffffff;
    padding: 2px;
    margin: 2px;
}
nav > button{
    background-color: white;
    padding: 5px;
    width: 100px;
}
main{
    background-color: #ffffff;
    padding: 2px;
    margin: 2px;
}
main > button, .menuBox{
    background-color: #EEEEEE;
    padding: 5px;
}
main > button:hover, .menuBox:hover{
    background-color: #e0e0e0;
}
main > button:active, .menuBox:active{
    background-color: #cacaca;
}
.menuBox{
    width: 210px;
    text-align: center;
}
.menuBox > img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: white;
}
.menuSection{
    display: flex;
}
li{
    margin: 2px;
}
#receipt{
    background-color: white;
    width: 300px;
    margin-left: 4px;
    padding-left: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* code from https://css-generators.com/custom-borders/ */
    mask: repeating-conic-gradient(from 135deg at 50% 10px,#0000 0,#000 1deg 89deg,#0000 90deg 180deg) 50% -10px/20px;
    mask-position: 0.5px -10px;
}
#doneButton{
    background-color: lightgreen;
    width: 200px;
    height: 50px;
}
footer{
    background-color: #ffffff;
    padding: 2px;
    margin: 2px;
}
.home-section, .home-section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
.home-section > p{
    grid-column: 2 / span 2;
}
.home-section > img{
    width: auto;
    height: 400px;
    object-fit: cover;
}
.home-section2 > p{
    grid-column: 1 / span 2;
}
.home-section2 > img{
    width: auto;
    height: 400px;
    object-fit: cover;
}