body{
    font-family: Verdana, sans-serif;
    background-color:lightgrey;
}
p{
    font-size: 20pt;
}
header{
    background-color: #E6E6E6;
    padding: 2px;
    margin: 2px;
}
header > h2{
    margin-left: 2px;
}
nav{
    background-color: #E6E6E6;
    padding: 2px;
    margin: 2px;
}
nav > button{
    background-color: white;
    padding: 5px;
    width: 100px;
}
main{
    background-color: #E6E6E6;
    padding: 2px;
    margin: 2px;
}
main > button, input{
    background-color: #EEEEEE;
    padding: 5px;
}
main > button:hover, input:hover{
    background-color: #e0e0e0;
}
main > button:active, input:active{
    background-color: #cacaca;
}
li{
    margin: 2px;
}
#receipt{
    background-color: white;
    width: 340.5px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* code from https://css-generators.com/custom-borders/ */
    mask: repeating-conic-gradient(from 135deg at 50% 10px,#0000 0,#000 1deg 89deg,#0000 90deg 180deg) 50% -10px/20px;
    mask-position: 0.5px -10px;
}
footer{
    background-color: #E6E6E6;
    padding: 2px;
    margin: 2px;
}